.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    position: absolute;
    width: 100%; 
    top: 0;
    left: 250px;
    z-index: 1000;
  }
  
  .navbar-title {
    font-size: 24px;
    color: #333;
  }
  .profile-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #555;
    margin-left: 97%;
  }
  
  
  @media (min-width: 768px) {
    .navbar {
      width: calc(100% - 250px);
      left: 250px;
    }
  }
  